{% extends 'base.html.twig' %}

{% block breadcrumb %}
    {% set breadcrumb = {'index':'Home', 'departments': 'Départements'} %}
    {{ parent() }}
{% endblock %}

{% block body %}

<h1>{{'department.heading %deparmentLabel%'|trans({'%deparmentLabel%': department.getName()|capitalize})}}</h1>

id : {{department.getId()}}
<br>
name : {{department.getName()}}
<br>
code : {{department.getCode()}}
<br>
url : {{ url }}
<hr>
<br><br>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Nom</th>
    </tr>
    {% for city in cities %}
        <tr>
            <td>{{city.getId()}}</td>
            <td>{{city.getName()}}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
